Repository IU-Capstone-Project-2024/Team-44, pull requests merged in 2024-07, with the labels that each got.

#48 Fastapi vectorstore
  .gitignore
  docker-compose.yml
  notebooks/qdrant_test.ipynb
  notebooks/requirements_qdrant_fastembed.txt
  rag_backend/VectorSpace/Qdrant.py
  rag_backend/requirements.txt
Labels: backend, ML

#50 Fastapi django connect
  fastapi_ml/app/lang_graph/QuizGenerator.py
  fastapi_ml/app/lang_graph/SummaryGenerator.py
  fastapi_ml/app/main.py
  fastapi_ml/app/requirements_fastapi.txt
  fastapi_ml/docker-compose.yml
  fastapi_ml/redis.conf
Labels: backend, ML

#51 Fastapi django connect
  fastapi_ml/Dockerfile
  fastapi_ml/app/async.py
  fastapi_ml/app/lang_graph/QuizGenerator.py
  fastapi_ml/app/main.py
  fastapi_ml/docker-compose.yml
  fastapi_ml/redis.conf
  rag_backend/app1/index.html
  rag_backend/app1/urls.py
  rag_backend/app1/views.py
  rag_backend/rag_backend/settings.py
Labels: enhancement, backend, ML

#53 Fastapi qdrant
  docker-compose.yml
  fastapi_ml/app/main.py
  rag_backend/VectorSpace/Qdrant.py
  rag_backend/app1/serializers.py
  rag_backend/app1/views.py
  rag_backend/postgres
  rag_backend/requirements.txt
Labels: backend, ML

#54 Fastapi django connect
  rag_backend/app1/urls.py
  rag_backend/app1/views.py
  rag_backend/authentication/migrations/0005_usertext.py
  rag_backend/authentication/models.py
  rag_backend/rag_backend/settings.py
  rag_backend/studyhelper
Labels: backend

#56 Front merge
  .gitignore
  frontend/temp-name/package-lock.json
  frontend/temp-name/package.json
  frontend/temp-name/src/app.html
  frontend/temp-name/src/data-store.js
  frontend/temp-name/src/routes/+layout.svelte
  frontend/temp-name/src/routes/+page.svelte
  frontend/temp-name/src/routes/about/+layout.svelte
  frontend/temp-name/src/routes/about/+page.svelte
  frontend/temp-name/src/routes/contacts/+page.svelte
  frontend/temp-name/src/routes/home/+page.svelte
  frontend/temp-name/src/routes/home/LeftBar.svelte
  frontend/temp-name/src/routes/items/+layout.svelte
  frontend/temp-name/src/routes/items/+page.svelte
  frontend/temp-name/src/routes/items/[id]/+page.js
  frontend/temp-name/src/routes/items/[id]/+page.svelte
  frontend/temp-name/src/routes/items/[id]/quiz/+page.svelte
  frontend/temp-name/src/routes/send/+layout.svelte
  frontend/temp-name/src/routes/send/+page.svelte
  frontend/temp-name/src/routes/signin/+layout.svelte
  frontend/temp-name/src/routes/signin/+page.svelte
  frontend/temp-name/src/routes/signout/+layout.svelte
  frontend/temp-name/src/routes/signout/+page.svelte
  frontend/temp-name/src/routes/signup/+layout.svelte
  frontend/temp-name/src/routes/signup/+page.svelte
  frontend/temp-name/src/static/Navbar.svelte
  frontend/temp-name/src/static/QuizPage.svelte
  frontend/temp-name/src/theme/_smui-theme.scss
  frontend/temp-name/src/theme/dark/_smui-theme.scss
  frontend/temp-name/static/smui-dark.css
  frontend/temp-name/static/smui.css
  frontend/temp-name/svelte.config.js
Labels: frontend
